{% extends 'watchman/w_index.html' %}    
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Digital Society</a></li>
                                                            <!-- <li class="breadcrumb-item">Doctors</li> -->
                                                                                        <li class="breadcrumb-item active">Profile</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{context.wid.profile_pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{context.wid.firstname}}</strong> {{context.wid.lastname}}</h4>
                        <span class="job_post">{{context.uid.role}}</span>
                        <p>101 Gokuldham Society<br> Op Bus-Station, Ahmedabad</p>

                    </div>
                    
                </div>                    
            </div>                               
            <div class="card">
                <!-- <div class="body">
                    <div class="workingtime">
                        <h6>Working Time</h6>
                        <small class="text-muted">Tuesday</small>
                        <p>06:00 AM - 07:00 AM</p>
                        <hr>
                        <small class="text-muted">Thursday</small>
                        <p>06:00 AM - 07:00 AM</p>
                        <hr>
                    </div>
                    <div class="reviews">
                        <h6>Reviews</h6>
                        <small class="text-muted">Staff</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Punctuality</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Helpfulness</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Knowledge</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Cost</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                    </div>
                </div> -->
            </div>
                             
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Account</a></li>                        
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <p> Watchman is responsible for the overall supervision of the society.</p>
                        <!-- <h6>Qualifications</h6> -->
                        <hr>
                         
                    </div>
                    <div class="tab-pane body" id="Account">
                        <form action="{% url 'w-profile' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="email" value="{{context.uid.email}}" readonly disabled>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="cpassword" placeholder="Current Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="npassword" placeholder="New Password">
                            </div>
                            <input type="submit" class="btn btn-info btn-round" value="Save Changes">
                    </form>
                        
                    </div>                        
                </div>
            </div>
                          
        </div>
    </div>

            </div>
        </section>
{% endblock %}