{% extends 'chairman/index.html' %}
{% block content %}

<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Complains <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-plus"></i>
                            </button>
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Digital Society</a></li>
                                                            <li class="breadcrumb-item">Complains</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        {% for n in context.com_all %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card project_widget">
                {%if n.pic%}
                <div class="pw_img">
                    <img class="img-fluid" src="{{n.pic.url}}" alt="About the image">
                </div>
                {% endif %}
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>Title : {{n.title}}</h6>

                    </div>
                    <div class="pw_meta">
                        <p><b>Notice Description : </b>{{n.description}}</p>
                    </div>
                    <a href="{% url 'del-com' pk=n.id %}" title="Edit" class="btn btn-round btn-info">Delete</a>  

                </div>  
            </div>
        </div>
        {% endfor %}
       
    </div>

            </div>
        </section> 

{% endblock %}